/* Resetting default styles */
html,
body,
header,
nav,
main,
section,
footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('path/to/your/flannel-pattern-image.jpg');
    /* Adjust this path */
    background-repeat: repeat;
    color: #333;
}

/* Header styles */
header {
    background: linear-gradient(to bottom, #6c1b19, #4a0d0b);
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2em;
}

h2 {
    font-size: 1em;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(114, 114, 114);
}

h3 {
    color: #ffd700;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h4 {
    color: gray;
    text-align: center;
    font-size: x-small;
}

/* Navigation styles */
nav {
    background: linear-gradient(to bottom, #990000, #660000);
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
    background: linear-gradient(to bottom, #6c1b19, #4a0d0b);
    color: #fff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
    color: white;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to bottom, #4b4a4a, #1c1515);
}