/* Resetting default styles */
html,
body,
header,
nav,
main,
section,
footer {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header styles */
header {
    background-color: #6c1b19;
    /* Maroon */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2em;
}

/* Navigation styles */
nav {
    background-color: #990000;
    /* Dark Maroon */
    padding: 10px;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffd700;
    /* Gold */
}

/* Main content styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Footer styles */
footer {
    background-color: #6c1b19;
    /* Maroon */
    color: #fff;
    padding: 10px;
    text-align: center;
}